// Sass file for App View
#total
	width: 100%
	height: 100%
	overflow: hidden
	background-color: #FFF

.test
	background-color: #ABF
	width: 100px
	height: 100px
	position: absolute
	top: 10px
	left: 10px
