.concept
	top: 0
	left: 0
	background-color: colorConcept
	background url('/images/pattern.png'), radial-gradient(colorConcept, #1F222F 1800px)
	width: 100%
	height: 800px
	.slider
		margin-top: 400px
	.page
		position: absolute
	.txt-concept
		display: inline-block
		width: 300px
	.txt-convictions
		display: inline-block
		margin-left: 20%
		width: 300px