div.content
	h1 Page concept
	div.page.page1
		h2 <%= Concepts.at(0).get('title') %>
		span.txt-concept Le concept se base sur 7 points clés permettant de réussir la production de projets digitaux :
			ul
				li Externaliser la production
				li Optimiser les coûts
				li Agilité et modularité
				li Un modèle optimal
				li Qualité du rendu
				li Développement durable et équitable
				li Mise en place de process
		span.txt-convictions Ces points clés sont d’abord basés sur une expérience personnelle et de réelles convictions sur le fait que ce modèle puisse répondre de la meilleure façon aux besoins de production digitale.
	div.page.page2
		h2 <%= Concepts.at(1).get('title') %>
		span.txt-concept Nous proposons de greffer à votre entreprise une équipe technique experte, composée de séniors et cela en marque blanche. Tout cela sans engagement de votre part.</br>La technique n’est pas forcément un atout pour vous permettre de gagner des clients mais elle peut être une faiblesse qui peut vous en faire perdre. 
		span.txt-convictions.
			Maintenir une équipe technique en interne est désormais de plus en plus risqué :
			Les technologies évoluent très vite ainsi que les besoins de vos clients
			Pour une petite équipe il est très compliqué de maitriser toutes les technologies, pour une grosse équipe il faut des personnes très polyvalentes et en formation constante
			La masse critique est difficile à trouver
			Pour une entreprise dont le cœur de métier n’est pas le développement technique il est compliqué de pouvoir s’engager sur un volume, les projets étant très divers
			Une grosse équipe entraine un manque d’agilité
			Plus les équipes grossissent plus il devient compliqué de rebondir et changer d’organisation
			Les profils sont rares et chers
			Les profils techniques sont très recherchés sur le marché de l’emploi
	div.page.page3
		h2 <%= Concepts.at(2).get('title') %>
	div.page.page4
		h2 <%= Concepts.at(3).get('title') %>
	div.page.page5
		h2 <%= Concepts.at(4).get('title') %>
	div.page.page6
		h2 <%= Concepts.at(5).get('title') %>
	div.page.page7
		h2 <%= Concepts.at(6).get('title') %>
	div.page.page8
		h2 <%= Concepts.at(7).get('title') %>




	div.slider