.contact
	z-index: 100
	position: fixed
	left: 0
	top: -490px
	background-color: colorContact
	opacity: 1
	width: 100%
	height: 500px
	.district
		z-index 1
		opacity .3
		position absolute
		top 10px
		left 0
		width 100%
		height 100%
		height calc('100% - 20px')
		background-image: url('/images/quartier.jpg')
		background-size: cover
		background-position: center
	.district-over
		z-index 2
		opacity 1
		position absolute
		top 10px
		left 0
	.revelation
		z-index 2
		top 10px
		position absolute

	.content
		z-index 3
		position relative
		margin-top 10px
		margin-bottom 10px
		// width 100%
		// max-width 800px
		// margin auto
		// margin-top 10px
		padding 0
	// .mask
	// 	position: absolute
	// 	background-color: #000
	// 	width: 100%
	// 	height: 100%
	// 	left: -100%
	// 	opacity: 1
	// 	// transform:skew(45deg)
	// .mask:after
	// 	content: ''
	// 	position: absolute
	// 	width: 100%
	// 	height: 100%
	// 	left: 100%
	// 	border-left: 100% solid #000
	// 	border-right: 100% solid transparent
	// 	border-top: 100px solid #000

