div.content
	div.pr0d-logo#logo-shadow
	a.pr0d-logo.open#logo-home(href='/')
	a.bt-menu.moving.bt-concept(href='/concept').
		Concept
	a.bt-menu.moving.bt-offer(href='/offre').
		Offre
	a.bt-menu.moving.bt-references(href='/references').
		Références
	a.bt-menu.moving.bt-blog(href='/blog').
		Blog
	a.bt-menu.bt-contact(href='/contact').
		Contact