.home
	z-index: 1
	position: fixed
	width: 100%
	height: 1500px
	// @include background(radial-gradient($colorHome, #35A4A8 1800px))
	background radial-gradient(colorHome, darken(colorHome, 5) 100%)
	background-position: -250px -200px
	color: #FFF
	font-family: font-sans
	// background-image: url('/images/pattern.png')
	.content
		height calc('100% - 100px')

		.intro
			height: 220px
			h1
				margin-top: 10%
				margin-left: 0px
				position: relative
				text-align: left
				width: 100%
				max-width: 640px
				font-size: 1.7em
				letter-spacing: 0.05em
				font-weight: normal
				bottom: 0
			h1:first-line
				font-size: 1.2em
				line-height: 2em
			p.vous
				font-family font-script
				font-size: 1.7em
				margin-left: 0px
				text-align: left
				opacity: 0
			p.advices
				font-family font-sans
				font-size: 1.7em

		.inquire
			display: block
			width: 100%
			height: calc('100% - 360px')
			.txt
				display none
			.cell
				transition all 200ms
				display: inline-block
				vertical-align: middle
				padding: 5px
				margin-bottom: 0px
				cursor: pointer
				float: left
				text-align: center
				overflow: hidden
			.cell:nth-child(2n)
				float: right
			.label
				display: inline-block
				vertical-align: middle
				position: relative

			.level1
				opacity: 0
				width calc('50% - 10px')
				height calc('33% - 15px')
				&.striped
					background embedurl('/images/stripes.png')
				&:nth-child(1)
					background-color: #503051
				&:nth-child(2)
					background-color: #70425E
				&:nth-child(3)
					background-color: #B26270
				&:nth-child(4)
					background-color: #DF8679
				&:nth-child(5)
					background-color: #FFAB89
				&:nth-child(6)
					background-color: #FF6D55
				.group
					width: 100%
					height: 100%
					display: none
				.level2
					position: relative
					display: inline-block
					margin-bottom: 2px
					height calc('50% - 12px')
					width calc('100% - 10px')
					&.striped
						background embedurl('/images/stripes.png')
					&:nth-child(1)
						background-color: rgba(#000,.2)
					&:nth-child(2)
						background-color: rgba(#000,.2)

			.notselected
				width: 0
				height: 0
				padding: 0
				margin: 0
			.selected
				width calc('100% - 10px')
				height calc('100% - 20px')
