<% if(!Config.flagClose) {%>
div.back
div.content
	div.intro
		h1.
			Production Digitale</br>vous accompagne dans la réalisation technique de vos projets interactifs
		p.vous.
			Vous êtes ...
		p.advices
	div.inquire
		div.cell.level1(level=1)
				div.group
					div.cell.level2(level=2)
						div.strut
						div.label vous avez une équipe technique en interne
						div.txt.
							Pour l’externalisation de vos projets vous pouvez être intéressé par :<ul><li><a href="#concept/agilite">notre expérience</a> en terme de production</li><li><a href="#">un renfort de vos équipes</a> sur certaines phases</li></ul>
					div.cell.level2(level=2)
						div.strut
						div.label vous n’avez pas d’équipe technique en interne
						div.txt.
							La technique n’est pas forcément un atout pour vous permettre de gagner des clients mais elle peut être une faiblesse qui peut vous en faire perdre.</br>Vous serez sans doute intéressé par notre concept vous permettant d’externaliser la production technique en toute sécurité.
				div.strut
				div.label une agence digitale</br>ou de communication
		div.cell.level1(level=1)
				div.strut
				div.label un studio graphique</br>ou de stratégie de marque
				div.txt.
					La technique n’est pas forcément un atout pour vous permettre de gagner des clients mais elle peut être une faiblesse qui peut vous en faire perdre. Avec pr0d vous vous reposez sur une structure.
		div.cell.level1(level=1)
				div.strut
				div.label une marque</br>ou un annonceur
				div.txt.
					Nous ne réalisons pas de projet directement avec l’annonceur car nous ne sommes pas spécialisé dans la stratégie et le design. Cependant nous collaborons avec beaucoup d’agences ou professionnels de la création et si vous souhaitez nous parler de votre projet nous pourrons vous conseiller sur ce choix.
					Un article pouvant vous intéresser : cbien coûte un site ?
		div.cell.level1(level=1)
				div.group
					div.cell.level2(level=2)
						div.strut
						div.label vous cherchez les conditions optimums de travail pour fidéliser vos clients
						div.txt.
							Le principal risque lors de la production d’un projet est que votre client soit inexpérimenté sur ce type de réalisation ou avec vos méthodes. Si quelque chose se passe mal lors du projet vous n’aurez pas de seconde chance et tout le travail d’acquisition de ce client sera perdu. Nous sommes là pour faire en sorte que les choses se passent bien et défendre si nécessaire votre point de vue de manière objective pour travailler sur le long terme sur un développement durable.
					div.cell.level2(level=2)
						div.strut
						div.label vous souhaitez acquérir de nouveaux clients
						div.txt.
							Les prestataires extérieurs avec lesquels nous travaillons sont sélectionnés par nos soins et référencés après une rencontre et une présentation des équipes. Si vous souhaitez adhérer à notre philosophie de développement durable nous serons heureux de vous rencontrer.
				div.strut
				div.label un prestataire technique</br>(agence, freelance, ou autre)	
		div.cell.level1(level=1)
				div.strut
				div.label à la recherche</br>d’un emploi
				div.txt.
					Pour nos recrutements nous fonctionnons en général par réseau et sur recommandations. Cependant si notre concept vous intéresse nous serons ravi de vous rencontrer.
		div.cell.level1(level=1)
				div.strut
				div.label un particulier
				div.txt.
					Notre positionnement est uniquement B2B et nous ne travaillons pas pour les particuliers. Pour savoir si nos services peuvent vous convenir découvrez notre concept ou contactez-nous si vous avez des questions.
<%}else{%>
div.pr0d-logo.open
<%}%>
