<% if(!Config.flagClose) {%>
div.content
	div.intro
		h1.
			Production Digitale</br>vous accompagne dans la réalisation technique de vos projets interactifs
		p.vous.
			vous êtes ...
	div.inquire
		div.cell.level1(level=1)
				div.group
					div.cell.level2
						div.strut
						div.label vous avez une équipe technique en interne
					div.cell.level2
						div.strut
						div.label vous n’avez pas d’équipe technique en interne
				div.strut
				div.label une agence digitale</br>ou de communication
		div.cell.level1(level=1)
				div.strut
				div.label un studio, graphique</br>ou de stratégie de marque
		div.cell.level1(level=1)
				div.strut
				div.label une marque</br>ou un annonceur
		div.cell.level1(level=1)
				div.group
					div.cell.level2
						div.strut
						div.label Vous souhaitez acquérir de nouveaux clients ?
					div.cell.level2
						div.strut
						div.label Vous cherchez les conditions optimums de travail pour fidéliser vos clients ?
				div.strut
				div.label un prestataire technique</br>(agence, freelance, ou autre)	
		div.cell.level1(level=1)
				div.strut
				div.label à la recherche</br>d’un emploi
		div.cell.level1(level=1)
				div.strut
				div.label rien de tout ça
<%}else{%>
div.pr0d-logo.open
<%}%>
