colorHome = #00D9D9
colorConcept = #434960
colorOffer = #EB6B56
colorReferences = #0E7AC4
colorBlog = #FFF
colorContact = #000

columns = 10
column-width = 70px
gutter-width = 10px
max-width = columns * (column-width + gutter-width)

font-sans = 'Electrolize-Regular', sans-serif
font-script = 'Kaushan Script', cursive
font-base = 15px
font-base-line-height = 24px